<template>
  <div>
    <a href="" class="notify-content__avatar-link">
      <img :src="notify.from_murren.avatar" alt="murren-avatar" />
    </a>
    <a href="" class="notify-content__username-link">{{
      notify.from_murren.username
    }}</a>
    <p class="notify-content__text">подписался на вас!</p>
  </div>
</template>
<script>
export default {
  name: "NotifySubscribeItem",

  props: {
    notify: {
      type: Object,
      required: true,
    },
  },

  methods: {},
};
</script>
