@import "../../../assets/scss/variables.scss";

.chat {
  height: 100%;
  min-width: 320px;
  max-width: 320px;
  height: 420px;
  display: grid;
  grid-template-rows: minmax(10%, 100%) auto;
  grid-template-columns: 100%;
  row-gap: 5px;
  &-content,
  &-new_message {
    border: 1px solid $accent-color-main;
    border-radius: 3px;
  }
  &-content {
    position: relative;
    &.no-auth {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &-online {
    position: absolute;
    z-index: 1;
    width: 100%;
    background: $dark;
    text-align: center;
    & > span {
      color: $success;
    }
  }
  &-received {
    display: flex;
    flex-direction: column;
    padding: 1.5em 0.3em 0.3em 0.3em;
    height: calc(100% - 0.3em);
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    bottom: 0;
    & > :first-child {
      margin-top: auto;
    }
    & .message-item {
      width: 100%;
      display: grid;
      grid-template-columns: min-content 1fr;
      grid-template-rows: min-content min-content;
      column-gap: 4px;
      margin: 5px 2px;
      .highlight-name {
        color: $warning-hover;
        font-size: 1.2em;
      }
      &__user-link {
        text-decoration: none;
        color: $main;
        grid-row: span 2;
      }
      &__user-avatar {
        border-radius: 3px;
        height: 40px;
        width: 40px;
      }
      &__top {
        margin: 0;
        font-size: 12px;
        font-weight: bold;
        line-height: 16px;
        letter-spacing: 0.05em;
        color: $accent-color-main;
        display: flex;
        justify-content: space-between;
        &-reply {
          font-size: 11px;
          line-height: 15px;
          font-style: normal;
          font-weight: normal;
          color: rgba($white, 0.6);
          display: none;
          cursor: pointer;
          margin-right: 6px;
        }
      }
      &__content {
        width: 100%;
        margin: 0;
        font-size: 11px;
        line-height: 15px;
        font-family: "OpenSans", sans-serif;
        display: grid;
        grid-template-columns: minmax(min-content, 1fr);
        & p {
          width: 100%;
          word-break: break-all;
        }
        & a {
          text-decoration: none;
          color: $primary;

          &:hover {
            color: $primary-hover;
            text-decoration: underline;
          }
          &:active {
            color: $primary-active;
          }
        }
      }
    }
    & .message-item:hover .message-item__top-reply {
      display: block;
    }
  }
  &-new_message {
    display: flex;
    padding: 0.2em 0.3em;
    background-color: $dark;
    &__textarea {
      font-size: 12px;
      transition: 0.3s;
      resize: none;
      max-height: 90px;
      width: 100%;
      background: transparent;
      border: 0;
      color: #fff;
      line-height: 16px;
      scrollbar-width: none; // firefox support
      &::-webkit-scrollbar {
        width: 0; // webkit support
      }
      &:focus::placeholder {
        color: transparent;
      }
      &::placeholder {
        color: $white-light;
      }
    }
    &__button {
      background: transparent !important;
      color: $accent-color-main !important;
      padding: 0 !important;
      border: 0 !important;
      &:hover,
      &:active,
      &:focus {
        background: transparent !important;
      }
      &:hover {
        color: #409eff !important;
      }
      &:active {
        color: #fff !important;
      }
      &:focus {
        color: $accent-color-main;
      }
    }
  }
}
