@import "@/assets/scss/variables.scss";

@mixin content {
  padding: 15px;
  border: $main 1px solid;
  border-radius: 3px;
  background-color: $main-transparent;
}

.m-character {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  margin: 20px 0;
  gap: 20px;

  &__stats,
  &__information {
    @include content;

    flex: 1;
  }

  &__stats {
    min-width: 350px;
  }
}

.m-character-stats {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  &__table {
    width: 100%;
    border-spacing: 0;
  }

  &__head {
    text-align: center;
    height: 60px;
  }

  &__available {
    display: inline-block;
    font-size: 24px;
    font-weight: normal;
    color: $warning;
    background-color: $dark-active;
    border: $main 1px solid;
    border-radius: 3px;
    padding: 5px 10px;
    margin-bottom: 20px;
  }

  &__label,
  &__value {
    font-size: 24px;
    line-height: 100%;
    vertical-align: middle;
    padding-bottom: 5px;
    height: calc(40px + 5px);
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    margin-top: calc(20px - 5px);
    height: 40px;
  }
}

.m-character-information {
  display: flex;
  justify-content: center;
  align-items: center;

  &__table {
    width: 100%;
    border-spacing: 0;
  }

  &__label,
  &__value {
    font-size: 24px;
    line-height: 40px;
  }

  &__value {
    text-align: right;
  }

  &__value.change {
    animation: impulse-color 500ms linear, impulse-scale 100ms linear;
    transition: all;
  }
}

@keyframes impulse-color {
  0% {
    color: $success;
  }
}

@keyframes impulse-scale {
  0% {
    transform: scale(1.1);
  }
}
