@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.murren-stats {
  font-size: 24px;
  margin: 19px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__points {
    border-radius: 3px;
    border: $main 1px solid;

    padding: 15px;
    background-color: $main-transparent;
    &-head {
      border-radius: 3px;
      border: $warning 1px solid;
      background-color: $dark-active;
      padding: 7px;
      color: $warning;
      width: fit-content;
      margin: 0 auto;
      animation: pulse 2s infinite;
    }

    &-value {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 4px;
    }

    &-btn_container {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
    }
  }

  &__results {
    border-radius: 3px;
    border: $main 1px solid;
    padding: 15px;
    background-color: $main-transparent;

    &-head {
      border-radius: 3px;
      border: $main 1px solid;
      background-color: $dark-active;
      padding: 5px 9px;
      width: fit-content;
      margin: 0 auto 10px;
      text-align: center;
      &-item {
        &.hp {
          color: $danger;
        }

        &.mp {
          color: $primary;
        }

        > span.change {
          display: inline-block;
          animation: changeStatsAnimation 500ms linear,
            fontSizeAnimation 100ms linear;
          transition: all;
        }
      }
    }
    &-body {
      border-radius: 3px;
      border: $main 1px solid;
      background-color: $dark-active;
      padding: 5px 9px;
      &_item {
        display: flex;
        justify-content: space-between;
      }
      &_value {
        margin-left: 10px;
      }
    }
  }
}

.reeee {
  color: red;
}

.el-input-number__decrease {
  background-color: $main60 !important;
  border-right: 2px $main solid;
  color: $white-light;
  font-size: 1em;

  &:hover {
    color: $white;
  }

  &:active {
    color: $white-lighter;
  }
}

.el-input-number__increase {
  background-color: $main60 !important;
  border-left: 2px $main solid;
  color: $white-light;
  font-size: 1em;

  &:hover {
    color: $white;
  }

  &:active {
    color: $white-lighter;
  }
}
.rrrrrrrrrr {
  cursor: not-allowed;
}
.murren-stats__points-value {
  .el-input__inner {
    background-color: $dark-active;
    border: 2px $main solid;
    color: $white;
    font-size: 24px;

    &:hover {
      border-color: $main !important;
    }
  }
}

.el-input-number__decrease:hover:not(.is-disabled)
  ~ .el-input
  .el-input__inner:not(.is-disabled),
.el-input-number__increase:hover:not(.is-disabled)
  ~ .el-input
  .el-input__inner:not(.is-disabled) {
  border-color: $main;
}

.el-input-number__decrease.is-disabled,
.el-input-number__increase.is-disabled {
  background-color: $danger !important;
}

.murren-stats__results-body_value.change {
  animation: changeStatsAnimation 500ms linear, fontSizeAnimation 100ms linear;
  transition: all;
}

@keyframes changeStatsAnimation {
  0% {
    color: $success;
  }
}

@keyframes fontSizeAnimation {
  0% {
    transform: scale(1.1);
  }
}
