<template>
  <div class="home-main-container">
    <loader v-if="isLoading || isMurrsLoading" />
    <div class="m-profile">
      <div class="m-profile__block" v-if="!isLoading && !isMurrsLoading">
        <div
          class="m-profile__cropper"
          v-if="isShowModalAvatarUpload && isCurrentMurren"
        >
          <div class="m-profile__cropper-container">
            <h3 class="m-profile__cropper-title">Загрузка нового аватара</h3>

            <div
              class="m-profile__cropper-loader"
              v-if="isUploadingAvatarToResize"
            >
              <loader />
            </div>

            <vue-cropper
              v-if="!isUploadingAvatarToResize"
              ref="cropper"
              :view-mode="1"
              :src="avatarBlobUrl"
              :movable="false"
              :rotatable="false"
              :scalable="false"
              :zoomable="false"
              :background="false"
              @crop="handlerCrop"
              :minCropBoxWidth="150"
              :minCropBoxHeight="150"
              :aspectRatio="1 / 1"
              :key="avatarBlobUrl"
              class="m-profile__cropper-crop"
            />

            <div class="m-profile__cropper-actions">
              <el-button
                type="primary"
                size="small"
                @click="onUploadAvatar"
                :loading="isUploading"
              >
                Загрузить
              </el-button>

              <el-button
                type="danger"
                size="small"
                @click="onCloseModalAvatarUpload"
              >
                Отменить
              </el-button>
            </div>
          </div>
        </div>

        <div class="m-profile__avatar">
          <img
            :src="murrenAvatar"
            :alt="profileData.username"
            class="m-profile__avatar-img"
onerror="this.src='http://murrengan.ru/murr-back/media/profile/default_murren_avatar.png'"
          />

          <div class="m-profile__avatar-overlay" v-if="isCurrentMurren">
            <el-button
              size="small"
              type="text"
              class="m-profile__avatar-upload"
              @click="$refs.inputSelectAvatarFile.click()"
            >
              Изменить аватар
            </el-button>

            <input
              class="m-profile__avatar-file"
              ref="inputSelectAvatarFile"
              type="file"
              :accept="acceptMimeTypes"
              @change="onOpenModalAvatarUpload($event)"
            />
          </div>
        </div>

        <div class="m-profile__information">
          <div
            class="m-profile__username"
            @mouseenter="isShowButtonChange = true"
            @mouseleave="isShowButtonChange = false"
          >
            <span v-if="!isShowUsernameInput">{{ profileData.username }}</span>
            <input
              type="text"
              ref="inputUsername"
              :maxlength="$v.newMurrenUsername.$params.maxLength.max"
              v-model.trim="newMurrenUsername"
              v-if="isShowUsernameInput"
              v-click-outside="onHideUsernameInput"
              class="m-profile__username_edit"
              @keyup.enter="changeMurrenName"
            />
            <el-button
              icon="el-icon-edit"
              type="text"
              class="m-profile__username-button"
              v-if="
                isCurrentMurren && !isShowUsernameInput && isShowButtonChange
              "
              @click="onShowUsernameInput"
            />
            <el-button
              icon="el-icon-check"
              type="text"
              class="m-profile__username-button"
              v-if="isShowUsernameInput"
              @click="changeMurrenName"
            />
          </div>

          <div class="m-profile__description">
            <template v-if="!isCurrentMurren && profileData.description">
              {{ profileData.description }}
            </template>
            <template v-if="isCurrentMurren">
              <input
                class="m-profile__description_edit"
                ref="inputDescription"
                v-click-outside="onHideDescriptionInput"
                v-model.trim="newMurrenDescription"
                :maxlength="$v.newMurrenDescription.$params.maxLength.max"
                @keyup.enter="changeMurrenDescription"
                v-if="isShowDescriptionInput"
              />
              <div
                class="m-profile__description-button"
                v-if="isCurrentMurren && !isShowDescriptionInput"
                @click="onShowDescriptionInput"
              >
                <template v-if="profileData.description">
                  {{ profileData.description }}
                </template>

                <template v-else> Изменить статус </template>
              </div>
              <el-button
                icon="el-icon-check"
                type="text"
                class="m-profile__description-button"
                v-if="isShowDescriptionInput"
                @click="changeMurrenDescription"
              />
            </template>
          </div>

          <div class="m-profile__statistics">
            <div class="m-profile__statistic-item">
              <div class="m-profile__statistic-count">{{ murrCardsCount }}</div>
              <div class="m-profile__statistic-text">мурры</div>
            </div>
            <div class="m-profile__statistic-item">
              <div class="m-profile__statistic-count">
                {{ profileData.likes_count }}
              </div>
              <div class="m-profile__statistic-text">
                <i
                  class="el-icon-arrow-up m-profile__statistic-icon m-profile__statistic-likes"
                ></i>
              </div>
            </div>
            <div class="m-profile__statistic-item">
              <div class="m-profile__statistic-count">
                {{ profileData.dislikes_count }}
              </div>
              <div class="m-profile__statistic-text">
                <i
                  class="el-icon-arrow-down m-profile__statistic-icon m-profile__statistic-dislikes"
                ></i>
              </div>
            </div>
          </div>
        </div>

        <div class="m-profile__actions">
          <template v-if="!isCurrentMurren">
            <div
              class="m-profile__actions-button m-profile__subscribe"
              @click="onSubscribe"
              v-if="!profileData.is_subscriber"
            >
              Подписаться
            </div>
            <div
              class="m-profile__actions-button m-profile__subscribe m-profile__subscribe_active"
              @click="onSubscribe"
              v-else
            >
              Подписан
            </div>
          </template>
          <div
            class="m-profile__actions-button m-profile__signout"
            @click="onSignout"
            v-else
          >
            Выйти
          </div>
        </div>
      </div>

      <m-character-panel :username="murrenUsername" />

      <murr-card-list
        :setMasonryCols="masonryCols"
        class="m-profile__murr-cards"
        targetPage="byUser"
        :murrenId="profileData.id"
        @cardsLoading="isMurrsLoading = true"
        @cardsLoaded="isMurrsLoading = false"
        v-show="!isMurrsLoading"
        v-if="!isLoading"
      />
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import VueCropper from "vue-cropperjs";
import "cropperjs/dist/cropper.css";

import MurrCardList from "../../murr_card/MurrCardList";
import MCharacterPanel from "@/components/murr_game/сharacter-panel/MCharacterPanel.vue";

import { MURR_CARDS_CHANGE_SUBSCRIBER_STATUS } from "../../murr_card/store/type.js";

import {
  MURREN_AVATAR_RESIZE,
  MURREN_AVATAR_UPDATE,
  MURREN_AVATAR_CANCEL_UPLOAD,
  MURREN_UPDATE_PROFILE,
  SWITCH_MURR_CARD_NOTIFICATIONS,
  SWITCH_SUBSCRIPTION_NOTIFICATIONS,
  MURREN_FETCH_PROFILE,
  MURREN_SUBSCRIBE,
} from "../store/type.js";
import "../scss/profile.scss";
import { helpers, maxLength, required } from "vuelidate/lib/validators";

const murrenNameAlphaValidator = helpers.regex(
  "murrenNameAlphaValidator",
  /^[\d\w]*$/
);

export default {
  name: "MurrenProfile",

  components: {
    VueCropper,
    MurrCardList,
    MCharacterPanel,
  },

  data: () => ({
    isLoading: true,
    isMurrsLoading: true,
    isShowUsernameInput: false,
    isShowDescriptionInput: false,
    isShowButtonChange: false,
    avatarBlob: null,
    avatarBlobUrl: null,
    isShowModalAvatarUpload: false,
    isUploadingAvatarToResize: false,
    isUploading: false,
    acceptMimeTypes: "image/jpeg, image/png, image/webp",
    newMurrenUsername: "",
    hidden: true,
    uniqueName: false,
    likePastName: false,
    likePastDescription: false,
    crop: {
      width: 0,
      height: 0,
      x: 0,
      y: 0,
    },

    subscriptionNotifications: true,
    murrCardNotifications: true,
  }),

  computed: {
    ...mapGetters(["currentMurren", "profileData"]),

    murrenUsername() {
      return this.$route.params.murren_name;
    },
    murrCardsCount() {
      return this.$store.state.murrCard.murrListCount;
    },
    isCurrentMurren() {
      return (
        !!this.currentMurren && this.currentMurren.id === this.profileData.id
      );
    },
    masonryCols() {
      return {
        default: 2,
      };
    },
    murrenAvatar() {
      if (this.profileData.avatar.includes("default_murren_avatar.png")) {
        return this.profileData.avatar;
      }
      return this.profileData.avatar + "?_time=" + Date.now();
    },
    validUserNameRequired() {
      return (
        this.$v.newMurrenUsername.$dirty && !this.$v.newMurrenUsername.required
      );
    },
    validUserNameMaxLength() {
      return (
        this.$v.newMurrenUsername.$dirty && !this.$v.newMurrenUsername.maxLength
      );
    },
    validMurrenNameAlphaValidator() {
      return (
        this.$v.newMurrenUsername.$dirty &&
        !this.$v.newMurrenUsername.murrenNameAlphaValidator
      );
    },
    validUserName() {
      return (
        this.validUserNameRequired ||
        this.validUserNameMaxLength ||
        this.uniqueName ||
        this.validMurrenNameAlphaValidator ||
        this.likePastName
      );
    },
  },

  validations: {
    newMurrenUsername: {
      required,
      maxLength: maxLength(24),
      murrenNameAlphaValidator,
    },
    newMurrenDescription: {
      maxLength: maxLength(255),
    },
  },

  watch: {
    newMurrenUsername() {
      this.uniqueName = false;
      this.likePastName = false;
    },

    async murrenUsername() {
      await this.fetchMurren();
    },
  },

  methods: {
    ...mapActions({
      notification: "popUpMessage",
    }),

    onSignout() {
      this.notification({
        message: "Ты разлогинился 😱",
        type: "success",
      });

      this.$store.dispatch("logout");
      this.$router.push("/");
    },

    async fetchMurren() {
      this.isLoading = true;

      const { success } = await this.$store.dispatch(MURREN_FETCH_PROFILE, {
        username: this.murrenUsername,
      });

      if (!success) {
        this.$router.push("/404");
      }

      this.isLoading = false;
    },

    onShowUsernameInput() {
      this.isShowUsernameInput = true;
      this.newMurrenUsername = this.profileData.username;

      this.$nextTick(() => {
        const input = this.$refs.inputUsername;
        input.focus();
      });
    },

    onShowDescriptionInput() {
      this.isShowDescriptionInput = true;
      this.newMurrenDescription = this.profileData.description;

      this.$nextTick(() => {
        const input = this.$refs.inputDescription;
        input.focus();
      });
    },

    onHideDescriptionInput() {
      this.isShowDescriptionInput = false;
    },

    onHideUsernameInput() {
      this.isShowUsernameInput = false;
    },

    async onSubscribe() {
      const { success, data } = await this.$store.dispatch(MURREN_SUBSCRIBE, {
        username: this.murrenUsername,
      });

      if (success) {
        const status = data.is_subscriber ? "подписались" : "отписались";
        this.notification({
          message: `Вы успешно ${status}`,
          type: "success",
        });

        await this.$store.commit(MURR_CARDS_CHANGE_SUBSCRIBER_STATUS, {
          murrenID: this.profileData.id,
          isSubscriber: data.is_subscriber,
        });
      } else {
        this.notification({
          message: "Произошла ошибка",
          type: "error",
        });
      }
    },

    changeMurrenName() {
      if (this.$v.newMurrenUsername.$invalid) {
        this.$v.$touch();
        return;
      }

      if (this.newMurrenUsername === this.profileData.username) {
        this.likePastName = true;
        return;
      }

      this.$confirm(
        "После нажатия 'Ok' тебя разлогинит из системы и нужно войти под новым именем",
        "Изменение имени Муррена!",
        {
          confirmButtonText: "Ok",
          confirmButtonClass: "murr-button__danger bigBtn",
          cancelButtonText: "Отмена",
          cancelButtonClass: "murr-button__primary bigBtn",
          customClass: "modal-main",
          type: "warning",
        }
      )
        .then(async () => {
          const result = await this.$store.dispatch(MURREN_UPDATE_PROFILE, {
            username: this.newMurrenUsername,
          });

          if (result.success) {
            this.onSignout();
          } else {
            this.uniqueName = true;
            this.notification({
              message: "Ошибка с вводом имени",
              type: "error",
            });
          }
        })
        .catch(() => {
          this.hidden = true;
          this.newMurrenUsername = "";
        });

      this.onHideUsernameInput();
    },

    async changeMurrenDescription() {
      if (this.$v.newMurrenDescription.$invalid) {
        this.$v.$touch();
        return;
      }

      if (this.profileData.description == this.newMurrenDescription) {
        return;
      }

      const { success } = await this.$store.dispatch(MURREN_UPDATE_PROFILE, {
        description: this.newMurrenDescription,
      });

      if (success) {
        this.notification({
          message: "Вы успешно сменили описание профиля",
          type: "success",
        });
      } else {
        this.notification({
          message: "Произошла ошибка",
          type: "error",
        });
      }

      this.onHideDescriptionInput();
    },

    async onOpenModalAvatarUpload({ target }) {
      const avatar = target.files[0];

      if (avatar.type.indexOf("image/") === -1) {
        alert("Please select an image file");
        return;
      }

      this.isShowModalAvatarUpload = true;
      this.isUploadingAvatarToResize = true;

      const { success, data } = await this.$store.dispatch(
        MURREN_AVATAR_RESIZE,
        {
          avatar,
        }
      );

      if (success) {
        this.avatarBlob = data;
        this.avatarBlobUrl = URL.createObjectURL(this.avatarBlob);
      } else {
        this.isShowModalAvatarUpload = false;
      }

      this.isUploadingAvatarToResize = false;
      this.$refs.inputSelectAvatarFile.value = "";
    },

    async onUploadAvatar() {
      this.isUploading = true;

      const { success, data } = await this.$store.dispatch(
        MURREN_AVATAR_UPDATE,
        {
          avatar: this.avatarBlob,
          crop: this.crop,
        }
      );
      if (success)
        await this.$store.commit("updateAvatar", { avatar: data.avatar });

      this.isUploading = false;

      this.clearTemporaryDataAvatarUpload();
      await this.fetchMurren();
    },

    onCloseModalAvatarUpload() {
      this.$store
        .dispatch(MURREN_AVATAR_CANCEL_UPLOAD)
        .then(() => this.clearTemporaryDataAvatarUpload());
    },

    handlerCrop({ detail }) {
      this.crop = detail;
    },

    clearTemporaryDataAvatarUpload() {
      this.isShowModalAvatarUpload = false;
      URL.revokeObjectURL(this.avatarBlobUrl);
      this.avatarBlobUrl = null;
      this.avatarBlob = null;
    },

    switchMurrCardNotifications() {
      this.$store.dispatch(SWITCH_MURR_CARD_NOTIFICATIONS);
      this.$store.commit("setCurrentMurren", {
        show_murr_card_notifications: this.murrCardNotifications,
      });
    },
    switchSubscriptionNotifications() {
      this.$store.dispatch(SWITCH_SUBSCRIPTION_NOTIFICATIONS);
      this.$store.commit("setCurrentMurren", {
        show_subscription_notifications: this.SubscriptionNotifications,
      });
    },
  },

  async created() {
    this.newMurrenUsername = this.$store.getters.currentMurren.username;

    this.subscriptionNotifications = this.$store.getters.currentMurren.show_subscription_notifications;
    this.murrCardNotifications = this.$store.getters.currentMurren.show_murr_card_notifications;
    await this.fetchMurren();
  },
};
</script>
