.m-card-preview {
  &__input-cover {
    display: none;
  }

  &__item {
    width: 100%;
    max-width: 100%;
    &:hover {
      box-shadow: none;
    }
  }

  &__cover {
    position: relative;
    cursor: auto;
  }

  &__upload {
    min-height: 130px;
    border-radius: 3px;
    color: $white;
    background-color: $accent-color-main;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    &-label {
      font-size: 31px;
    }

    &-helper {
      font-size: 12px;
    }
  }

  &__title {
    cursor: auto;
  }

  &__cover-actions {
    position: absolute;
    top: 5px;
    right: 5px;

    z-index: 9;
  }

  &__clear-action {
    color: $white;
    background-color: $accent-color-main;

    padding: 2px;
    border-radius: 50%;

    & + & {
      margin-left: 5px;
    }

    &:hover {
      color: $white;
      background-color: $accent-color-main-hover;
    }
  }

  &__crop {
    padding: 1rem;
    border: 1px dashed $accent-color-main;
    border-radius: 3px;
    max-width: calc(600px + 2rem);
    max-height: calc(600px + 2rem);
    margin: 0 auto 1.5rem;
  }

  &__crop-container {
    .cropper-modal {
      background-color: $dark-accent-secondary;
    }
  }

  &__crop-preview {
    height: 320px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 3px;
    overflow: hidden;
  }

  &__crop-actions {
    text-align: center;
  }
}
